<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/encabezado.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
</head>

<header>
    <div class="header_container">
        <div class="header_part_left">
            <a class="hd_pl" href="">☰</a>
        </div>
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="logo">
            <h2> MathLe </h2>
        </div>
        <div class="header_part_right">
            {% if request.user.is_authenticated %}
                <a class="hd_pl" href={% url 'dashboard' %}>Dashboard - {{ user.username | upper}}</a>
                <a class="hd_pl" href={% url 'logout' %}>Salir</a>
            {% else %}
                <a class="hd_pl" name="start" href={% url 'login' %}>Iniciar sesion</a>
                <a class="hd_pl" name="end" href={% url 'register' %}>Registrate</a>
            {% endif %}
        </div>
    </div>
</header>