.header_container {
    border: solid;
    border-radius: 1px;
    height: 3.5vw;
    border-color: rgb(36, 36, 36);
    background: rgb(36, 36, 36);
    margin-bottom: .5%;
    display: flex;
}

a {
    text-decoration: none;
}

.header_part_left{
    background: none;
    margin: auto;
    display: inline-block;
    width: 33%;
}

.header_part_right{
    background: none;
    margin: auto;
    display: flex;
    justify-content: right;
    width: 33%;
}

.hd_pl{
    background: none;
    font-size: 1.1vw;
    text-align: center;
    color: rgb(240, 240, 240);
    white-space: nowrap;
    margin-right: 5%;
}

.hd_pl:hover{
    color: rgb(215, 215, 215);
}

.logo{
    background: none;
    width: 33%;
    justify-content: center;
    display: inline-flex;
    margin: auto;
    align-items: center;
    cursor:pointer;
}

.logo h2{
    font-size: 1.5vw;
    background: none;
    color: rgb(240, 240, 240);
    animation: 3s anim-lineDown ease-out;
    opacity: 0;
    
}

.logo img{
    background: none;
    width: 2.2vw;
    height: 2.2vw;
    animation: 1.5s anim-lineDown-logo ease-out;
    transform: translatex(80%);
}

.logo:hover h2{
    animation: 1s anim-lineUp ease-out;
    opacity: 1;
    transform: translatex(0%);
}

.logo:hover img{
    animation: 1s anim-lineUp-logo ease-out;
    opacity: 1;
    transform: translatex(0%);
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes anim-lineDown {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes anim-lineUp-logo {
    0% {
        transform: translatex(80%);
    }
    20% {
    }
    50% {
        transform: translatex(0%);
    }
    100% {
        transform: translatex(0%);
    }
}
@keyframes anim-lineDown-logo {
    0% {
        transform: translatex(0%);
    }
    20% {
        transform: translatex(0%);
    }
    50% {
    }
    100% {
        transform: translatex(80%);
    }
}