* {
    margin: 0px;
    padding: 0px;
    color: wheat;
    background-color: rgb(105, 23, 168);
    background-image: url(/static/img/back3.jpg);
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    text-decoration: none;
}

.header_container {
    border: solid;
    border-radius: 1px;
    height: 3.5vw;
    border-color: rgb(36, 36, 36);
    background: rgb(36, 36, 36);
    margin-bottom: .5%;
    display: flex;
}

.header_part_left{
    background: none;
    margin: auto;
    display: inline-block;
    width: 33%;
}

.header_part_right{
    background: none;
    margin: auto;
    display: flex;
    justify-content: right;
    width: 33%;
}

.hd_pl{
    background: none;
    font-size: 1.1vw;
    text-align: center;
    color: rgb(240, 240, 240);
    white-space: nowrap;
    margin-right: 5%;
}

.hd_pl:hover{
    color: rgb(215, 215, 215);
}

.logo{
    background: none;
    width: 33%;
    justify-content: center;
    display: inline-flex;
    margin: auto;
    align-items: center;
    cursor:pointer;
}

.logo h2{
    font-size: 1.5vw;
    background: none;
    color: rgb(240, 240, 240);
    animation: 3s anim-lineDown ease-out;
    opacity: 0;
    
}

.logo img{
    background: none;
    width: 2.2vw;
    height: 2.2vw;
    animation: 2s anim-lineDown-logo ease-out;
    transform: translatex(80%);
}

.logo:hover h2{
    animation: 1s anim-lineUp ease-out;
    opacity: 1;
    transform: translatex(0%);
}

.logo:hover img{
    animation: 1s anim-lineUp-logo ease-out;
    opacity: 1;
    transform: translatex(0%);
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes anim-lineDown {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes anim-lineUp-logo {
    0% {
        transform: translatex(80%);
    }
    20% {
    }
    50% {
        transform: translatex(0%);
    }
    100% {
        transform: translatex(0%);
    }
}
@keyframes anim-lineDown-logo {
    0% {
        transform: translatex(0%);
    }
    20% {
        transform: translatex(0%);
    }
    50% {
    }
    100% {
        transform: translatex(80%);
    }
}

.rpd {
    background: none;
    margin-top: 5%;
    color: rgb(240, 240, 240);
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    display: flex;
}

.left {
    background: none;
    font-size: 6vw;
    color: rgb(240, 240, 240);
    margin-left: 2%;
}

.right {
    background: none;
    font-size: 6vw;
    color: rgb(240, 240, 240);
    margin-right: 2%;
}

.rpd .slide {
    background: none;
}

.rpd .slide .title{
    background: none;
    margin: 0;
    padding: 0;
    color: rgb(240, 240, 240);
    font-size: 14.5vw;
}

.rpd .slide .subtitle{
    background: none;
    margin-top: -3%;
    padding: 0;
    color: rgb(235, 235, 235);
    font-size: 3.6vw;
}

.subtext{
    margin-top: 10%;
    background: none;
}
/*.header_part_left#hed_item {
    margin: 100px;
    padding: 5px;
}*/