/*SECCION 3---------------------*/
.seccion3{
    background:none;
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: justify;
}

.seccion3 nav{
    background:none;
    vertical-align: middle;
    align-items: center;
    text-align: justify;
    padding: 0;
    width: 25vw;
    margin: 7%;
    text-align: center;
    background-color: rgb(60, 60, 60);
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

.seccion3 div{
    background: none;
}

.seccion3 label{
    width: 100%;
    padding: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.5vw;
    color: white;
}

.seccion3 .lvl-1 label:hover{
    font-size: 1.6vw;
    background: none;
    background-color: forestgreen;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
}

.seccion3 .lvl-4 label:hover{
    font-size: 1.6vw;
    background: none;
    background-color: forestgreen;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
}

.seccion3 label:hover{
    font-size: 1.6vw;
    background: none;
    background-color: forestgreen;
}

.seccion3 input{
    display: none;
}

nav .temas .last{
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
}

.seccion3 nav h2 {
    background: none;
    margin: -2px;
    padding: 5%;
    font-size: 1.5vw;
    color: white;
}

nav .temas h2:hover{
    background-color: aqua;
}

.temas{
    height: 0;
    background-color: rgb(41, 41, 41);
    transition: height .2s, background-color .2s;
    transition-delay: .1s;
}

nav input + label + .temas > h2{
    animation: .1s desv ease-out;
    color:rgb(200, 200, 200);
    opacity: 0;
}

nav .lvl-1 input[type=checkbox]:checked + label{
    display: block;
    font-size: 1.6vw;
    background: none;
    background-color: forestgreen;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
}

nav .lvl-4 input[type=checkbox]:checked + label + .temas{
    height: 12vw;
    background-color: rgb(41, 41, 41);
    transition: height .2s, background-color .2s;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
}

nav input[type=checkbox]:checked + label{
    display: block;
    font-size: 1.6vw;
    background: none;
    background-color: forestgreen;
}
nav input[type=checkbox]:checked + label + .temas{
    height: 12vw;
    background-color: rgb(41, 41, 41);
    transition: height .2s, background-color .2s;
}

@keyframes desv {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes apar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav input[type=checkbox]:checked + label + .temas > h2{
    animation: .4s apar ease-out;
    color:rgb(200, 200, 200);
    opacity: 1;
}

.seccion3 .text {
    background: none;
    width: 65%;
}

.seccion3 .text h2{
    background: none;
    font-size: 2vw;
    margin-left: 0%;
    margin-right: 20%;
    color: rgb(255, 255, 255);
    margin-bottom: 2%;
    width: 40%;
    border-top: 2px double rgb(255, 255, 255);
    border-bottom: 2px double rgb(255, 255, 255);
}

.seccion3 h3{
    background: none;
    font-size: 1.5vw;
    margin-left: 0%;
    margin-right: 20%;
    color: rgb(240, 240, 240);
}