/*-------------Niveles---------------*/
.lvlTit{
    height: 25%;
    cursor: pointer;
    transition: font-size .2s;
}

.lvlTit:hover{
    color: rgb(150, 150, 150);
    text-decoration: underline;
    font-size: 1.52vw;
}

.temas, .topic, .topic h2, .topic .bdc{
    background: none;
}

#top{
    background: none;
    width: 100%;
    height: 50%;
    display: flex;
}

.actCnt{
    background: none;
    width: 35%;
    height: 45%;
    background-color: #dadada;
    margin: 1%;
    margin-top: 2%;
    padding: 0;
    border-radius: .7vw .7vw .7vw .7vw;
    -webkit-border-radius: .7vw .7vw .7vw .7vw;
    -moz-border-radius: .7vw .7vw .7vw .7vw;
    transition: width .5s, height .5s;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.65);
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.65);
}

.actCnt:hover{
    cursor: pointer;
    width: 40%;
    height: 48%;
}

#bottom .actCnt h2{
    background: none;
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: -2.5%;
    padding-left: 5%;
    padding-right: -10%;
}

#bottom{
    width: 100%;
    height: 50%;
    background: none;
    width: 100%;
    display: flex;
}

#bottom #tit{
    width: 4%;
    height: 20%;
    font-size: 1.2vw;
    margin-top: 3.2%;
    margin-bottom: -3.2%;
}

#bottom #tit2{
    width: 15%;
    font-size: 2vw;
    padding: 0;
    margin-top: 4%;
    height: 10%;
    margin-bottom: 4%;
}

.main{
    background: none;
    width: 100%;
    padding: 1.5%;
}

#niveles{
    display: block;
}

#temas{
    display: none;
}

.topic{
    background: none;
    display: block;
    
    width: 100%;
    height: 9%; /* 24.5% - Niveles || 9% - topics*/
    margin-top: 0%;
    margin-bottom: 0%;
    border-bottom: .2vw solid #bdbdbd;
}

#lvl1 {
    border-top: .2vw solid #bdbdbd;
}

.topic h2{
    font-size: 1.5vw;
    margin-top: 4%;
    margin-bottom: -4%;
    color: rgb(80, 80, 80);
    width: 32%;
    margin-right: 10%;
}

.topic .right{
    display: flex;
    background: none;
    width: 60%;
}

.topic .right .bdcF{
    border: 1px solid #000000;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    background: none;
    background-color: white;
    width: 100%;
    height: 2vw;
    margin-top: 6.6%;
    margin-bottom: -6.6%;
}

.topic .right .bdcF .bdcE{
    background: none;
    border-radius: 20px 0px 0px 20px;
    -webkit-border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
    background-color:chartreuse;
    width: 80%;
    height: 2vw;
}

.topic .right h2{
    font-size: 1.2vw;
    margin-top: 7.2%;
    margin-bottom: -7.2%;
    height: 20%;
    width: 30%;
}