* {
    font-family: 'Montserrat';
    margin: 0px;
    padding: 0px;
    background-color: rgb(105, 23, 168);
    background-image: url(/static/img/back3.jpg);
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-size: cover;
}

div, h1, h2, form, p, input {
    background: none;
}

div h1, div h2 {
    text-align: center;
    color: white;
}

.titulo {
    margin-top: 2%;
}

#BarTime {
    background: none;
    background-color: rgb(119, 236, 146);
    height: 100%;
    width: 100%;

    border-radius: 20px;

    transition: all 1s linear;
    text-align: center;
}

#borde {
    background: none;
    height: 20px;
    width: 39%;
    margin: 5% 0%;

    overflow: hidden;
    display: flex;

    border-width: medium;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
}

.pr {
    margin: 3% 25%;
    min-height: 65vh;
    min-width: 40vh;
    background-color: white;
    border-radius: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.568);
}

.pregunta {
    margin-top: 5%;
}

.pregunta input {
    padding: 2px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    font-family: 'Montserrat';
}

.pregunta p {
    text-align: center;
}

.btn {
    margin: 25%;
    display: flex;
    justify-content: center;
    height: 4vh;
}

#terminar {
    background-color: rgb(119, 236, 146);
    border: none;
    border-radius: 20px;
    width: 110%;

    transition: all 0.7s ease
}

#terminar:hover {
    transition: all 0.7s ease;
    background-color: black;
    color: white;
}