{% load static %}
<div class="actDiv" id="lvl1">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="lvlTit" retype="act" redirect="1">La loca de los gatos</h2>
        <div class="right" id="rg1">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF1">
                <div class="bdcE" id="bdcE1"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <div class="actCnt" id="act4"><h2>Iniciar ></h2></div>
    </div>
</div>
<div class="actDiv" id="lvl2">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="lvlTit" retype="act" redirect="2">Video explicativo</h2>
        <div class="right" id="rg2">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF2">
                <div class="bdcE" id="bdcE2"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <div class="actCnt" id="act4"><h2>Iniciar ></h2></div>
    </div>
</div>
<div class="actDiv" id="lvl3">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="lvlTit" retype="act" redirect="3">Tetris de sumas</h2>
        <div class="right" id="rg3">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF3">
                <div class="bdcE" id="bdcE3"></div>
            </div>
        </div>
    </div> 
    <div id="bottom">
        <div class="actCnt" id="act4"><h2>Iniciar ></h2></div>
    </div>
</div>
<div class="actDiv" id="lvl4">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="lvlTit" retype="nivel" redirect="4">Rush</h2>
        <div class="right" id="rg4">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF4">
                <div class="bdcE" id="bdcE4"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <div class="actCnt" id="act4"><h2>Iniciar ></h2></div>
    </div>
</div>