{% load static %}
<div class="lvl" id="lvl1">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="lvlTit" retype="nivel" redirect="1">Nivel 1 - 2° y 3° de primaria</h2>
        <div class="right" id="rg1">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF1">
                <div class="bdcE" id="bdcE1"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <h2 id="tit">Actividades: </h2>
        <div class="actCnt" id="act1"><h2>Las sumas</h2></div>
        <div class="actCnt" id="act2"><h2>Las restas</h2></div>
        <div class="actCnt" id="act3"><h2>Fracciones</h2></div>
        <div class="actCnt" id="act4"><h2>Figuras Geo...</h2></div>
        <h2 id="tit2">...</h2>
    </div>
</div>
<div class="lvl" id="lvl2">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="lvlTit" retype="nivel" redirect="2">Nivel 2 - 4° y 5° de primaria</h2>
        <div class="right" id="rg2">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF2">
                <div class="bdcE" id="bdcE2"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <h2 id="tit">Actividades: </h2>
        <div class="actCnt" id="act2"><h2>Angulos</h2></div>
        <div class="actCnt" id="act2"><h2>Fracciones-3</h2></div>
        <div class="actCnt" id="act3"><h2>Unidades de...</h2></div>
        <div class="actCnt" id="act4"><h2>Varios digito...</h2></div>
        <h2 id="tit2">...</h2>
    </div>
</div>
<div class="lvl" id="lvl3">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="lvlTit" retype="nivel" redirect="3">Nivel 3 - 6° de primaria y 1° de secundaria</h2>
        <div class="right" id="rg3">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF3">
                <div class="bdcE" id="bdcE3"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <h2 id="tit">Actividades: </h2>
        <div class="actCnt" id="act1"><h2>Plano cartesi...</h2></div>
        <div class="actCnt" id="act2"><h2>Razones</h2></div>
        <div class="actCnt" id="act3"><h2>Porcentajes</h2></div>
        <div class="actCnt" id="act4"><h2>Figuras Tridi...</h2></div>
        <h2 id="tit2">...</h2>
    </div> 
</div>
<div class="lvl" id="lvl4">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="lvlTit" retype="nivel" redirect="4">Nivel 4 - 2° y 3° de secundaria</h2>
        <div class="right" id="rg4">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF4">
                <div class="bdcE" id="bdcE4"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <h2 id="tit">Actividades: </h2>
        <div class="actCnt" id="act1"><h2>Ecuaciones</h2></div>
        <div class="actCnt" id="act2"><h2>Exponentes</h2></div>
        <div class="actCnt" id="act3"><h2>Analisis de d...</h2></div>
        <div class="actCnt" id="act4"><h2>Trigonometria</h2></div>
        <h2 id="tit2">...</h2>
    </div>
</div>