{% load static %}
<div class="topic" id="lvl1">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="titulo" retype="topic" redirect="1">Las sumas</h2>
        <div class="progreso" id="rg1">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF1">
                <div class="bdcE" id="bdcE1"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <h2 id="titulo">Actividades: </h2>
        <h2 class="tituloActividad">La loca de...</h2>
        <h2 class="tituloActividad">Video expli...</h2>
        <h2 class="tituloActividad">Cuantos gat...</h2>
        <h2 class="tituloActividad">Rush</h2>
    </div>
</div>
<div class="topic" id="lvl2">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="titulo" retype="topic" redirect="2">Las restas</h2>
        <div class="progreso" id="rg2">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF2">
                <div class="bdcE" id="bdcE2"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <h2 id="titulo">Actividades: </h2>
        <h2 class="tituloActividad">No me gusta...</h2>
        <h2 class="tituloActividad">Video expli...</h2>
        <h2 class="tituloActividad">Ya no quiero...</h2>
        <h2 class="tituloActividad">Rush</h2>
    </div>
</div>
<div class="topic" id="lvl3">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="lvlTit" retype="topic" redirect="3">Tamaños y medidas</h2>
        <div class="progreso" id="rg3">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF3">
                <div class="bdcE" id="bdcE3"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <h2 id="titulo">Actividades: </h2>
        <h2 class="tituloActividad">Plano cartesi...</h2>
        <h2 class="tituloActividad">Video expli...</h2>
        <h2 class="tituloActividad">Porcentajes</h2>
        <h2 class="tituloActividad">Rush</h2>
    </div>
</div>
<div class="topic" id="lvl4">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="titulo" retype="topic" redirect="4">Figuras geometricas</h2>
        <div class="progreso" id="rg4">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF4">
                <div class="bdcE" id="bdcE4"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <h2 id="titulo">Actividades: </h2>
        <h2 class="tituloActividad">Plano cartesi...</h2>
        <h2 class="tituloActividad">Video expli...</h2>
        <h2 class="tituloActividad">Porcentajes</h2>
        <h2 class="tituloActividad">Rush</h2>
    </div>
</div>
<div class="topic" id="lvl5">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="titulo" retype="topic" redirect="5">Fracciones</h2>
        <div class="progreso" id="rg5">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF5">
                <div class="bdcE" id="bdcE5"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <h2 id="titulo">Actividades: </h2>
        <h2 class="tituloActividad">Plano cartesi...</h2>
        <h2 class="tituloActividad">Video expli...</h2>
        <h2 class="tituloActividad">Porcentajes</h2>
        <h2 class="tituloActividad">Rush</h2>
    </div>
</div>
<div class="topic" id="lvl6">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="titulo" retype="topic" redirect="6">Multiplicacion</h2>
        <div class="progreso" id="rg6">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF6">
                <div class="bdcE" id="bdcE6"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <h2 id="titulo">Actividades: </h2>
        <h2 class="tituloActividad">Plano cartesi...</h2>
        <h2 class="tituloActividad">Video expli...</h2>
        <h2 class="tituloActividad">Porcentajes</h2>
        <h2 class="tituloActividad">Rush</h2>
    </div>
</div>
<div class="topic" id="lvl7">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="titulo" retype="topic" redirect="7">Divicion</h2>
        <div class="progreso" id="rg7">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF7">
                <div class="bdcE" id="bdcE7"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <h2 id="titulo">Actividades: </h2>
        <h2 class="tituloActividad">Plano cartesi...</h2>
        <h2 class="tituloActividad">Video expli...</h2>
        <h2 class="tituloActividad">Porcentajes</h2>
        <h2 class="tituloActividad">Rush</h2>
    </div>
</div>
<div class="topic" id="lvl8">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="titulo" retype="topic" redirect="8">Fracciones II</h2>
        <div class="progreso" id="rg8">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF8">
                <div class="bdcE" id="bdcE8"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <h2 id="titulo">Actividades: </h2>
        <h2 class="tituloActividad">Plano cartesi...</h2>
        <h2 class="tituloActividad">Video expli...</h2>
        <h2 class="tituloActividad">Porcentajes</h2>
        <h2 class="tituloActividad">Rush</h2>
    </div>
</div>
<div class="topic" id="lvl9">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="titulo" retype="topic" redirect="9">Patrones numericos</h2>
        <div class="progreso" id="rg9">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF9">
                <div class="bdcE" id="bdcE9"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <h2 id="titulo">Actividades: </h2>
        <h2 class="tituloActividad">Plano cartesi...</h2>
        <h2 class="tituloActividad">Video expli...</h2>
        <h2 class="tituloActividad">Porcentajes</h2>
        <h2 class="tituloActividad">Rush</h2>
    </div>
</div>
<div class="topic" id="lvl10">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="titulo" retype="topic" redirect="10">Magnitudes</h2>
        <div class="progreso" id="rg10">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF10">
                <div class="bdcE" id="bdcE10"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <h2 id="titulo">Actividades: </h2>
        <h2 class="tituloActividad">Plano cartesi...</h2>
        <h2 class="tituloActividad">Video expli...</h2>
        <h2 class="tituloActividad">Porcentajes</h2>
        <h2 class="tituloActividad">Rush</h2>
    </div>
</div>
<div class="topic" id="lvl11">
    <div id="bloqueado"><img src="{% static 'img/locked.png' %}"></div>
    <div id="top">
        <h2 class="titulo" retype="topic" redirect="11">Pictogramas</h2>
        <div class="progreso" id="rg11">
            <h2>Completado: </h2>
            <div class="bdcF" id="bdcF11">
                <div class="bdcE" id="bdcE11"></div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <h2 id="titulo">Actividades: </h2>
        <h2 class="tituloActividad">Plano cartesi...</h2>
        <h2 class="tituloActividad">Video expli...</h2>
        <h2 class="tituloActividad">Porcentajes</h2>
        <h2 class="tituloActividad">Rush</h2>
    </div>
</div>