* {
    background-color: rgb(105, 23, 168);
    background-image: url(/static/img/back3.jpg);
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    text-align: left;
    font-size: 1.3vw;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formCont {
    background: none;
    background-color: #e0e0e0;
    margin: auto;
    width: 40vw;
    border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    border: .3vw solid #e0e0e0;
    height: 43vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 1px rgba(61,61,61,0.61);
    -webkit-box-shadow: 5px 5px 10px 1px rgba(61,61,61,0.61);
    -moz-box-shadow: 5px 5px 10px 1px rgba(61,61,61,0.61);
}

form {
    margin: auto;
    background: none;
    text-align: center;
}

.subform {
    margin: auto;
    width: 35vw;
    background: none;
    text-align: left;
}

label {
    background: none;
    margin-left: auto;
    margin-top: .5vw;
    margin-bottom: .5vw;
    font-weight: 500;
}

input {
    background: none;

    margin-top: .5vw;
    margin-right: 1vw;
    margin-bottom: .5vw;
    font-size: 1.1vw;
    height: 2vw;
    text-align: left;
    border-radius: 5px;
    background-color: #f3f3f3;
}

button {
    background: none;
    margin-top: 2.5vw;
    border-radius: 3px;
    height: 2.6vw;
    background-color: rgb(182, 182, 182);
    border-color: rgb(182, 182, 182);
    cursor: pointer;
}

.title {
    background: none;
    font-size: 2.5vw;
    margin-top: 0;
    margin-bottom: 12%;
    font-weight: 600;
    text-align: center;
}

.alert-info{
    color: rgb(248, 116, 116);
    font-size: 1.2vw;
    margin-top: 1vw;
    background: none;
    text-align: center;
}

.helptext{
    background: none;
    font-weight: 500;
    font-size: 1.1vw;
    margin-top: .001vw;
    color: rgb(138, 138, 138);
}